# deps
node_modules/

# Next.js
.next/
out/
build/

# env
.env
.env.local
.env*.local

# misc
.DS_Store
*.log
.vscode/
tsconfig.tsbuildinfo

# project-specific junk
ToRemove/
write_translations.mjs
"Omer Zilbershtein - CVs.pdf"
